<!DOCTYPE html>
<html lang="en">

<head>
  <title>Purple Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.png" />
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <div class="container-scroller">
    <% include ./partials/_navbar.ejs %>
    <div class="container-fluid page-body-wrapper">
      <div class="content-wrapper">
        <% include ./partials/_admin-menu.ejs %>
        <div class="input-group">
          <input id="myInput" type="text" class="form-control" placeholder="학생 이름 조회" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm btn-gradient-primary" type="button">Search</button>
          </div>
        </div>
        <br><br>

        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">스펙 요청 목록</h4>
                  <p class="card-description">
                    학생들이 신청한 스펙을 승인또는 거절합니다.
                  </p>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>User</th>
                        <th>이름</th>
                        <th>학번</th>
                        <th>요청날짜</th>
                        <th>증빙자료</th>
                        <th>스펙승인</th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      <% for(var i=0; i<specReqList.length; i++) { %>
                        <tr data-id="<%= specReqList[i].specID %>">
                          <td class="py-1"><img src="/public/images/faces-clipart/pic-1.png" alt="image"></td>
                          <td><%= specReqList[i].name %></td>
                          <td><%= specReqList[i].student_id %></td>
                          <td><%= specReqList[i].request_date %></td>
                          <td>
                            <a target="_blank" class="btn btn-inverse-primary btn-sm" href="/uploads/<%= specReqList[i].path %>">
                              증빙 자료보기
                            </a>
                          </td>
                          <td>
                            <a class="specDetail btn btn-inverse-primary btn-sm" href="#detail">요청 스펙 상세보기</a>
                          </td>
                        </tr>
                      <% } %>
                      <tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 grid-margin stretch-card" id="detail" style="display: none;">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">학생 요청 스펙</h4>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>스펙 종류</label>
                        <select class="form-control" id="type" disabled>
                          <option value="1" selected>자격증</option>
                          <option value="2">공모전</option>
                          <option value="3">인턴정보</option>
                          <option value="4">Topcit성적</option>
                          <option value="5">대회수상경력</option>
                          <option value="6">교육프로그램</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>스펙명</label>
                        <p class="font-weight-bold" id="name">스펙명</p>
                      </div>
                      
                      <div class="form-group">
                        <label>요청 날짜</label>
                        <p id="requestDate">스펙명</p>
                      </div>
                      
                      <div class="form-group">
                        <label>증빙 파일</label>
                        <p class="text-center">
                          <a id="file" class="btn btn-info btn-rounded btn-fw" href="#">
                            <i class="mdi mdi-file-document"></i>
                            증빙 자료보기
                          </a>
                        </p>
                      </div>


                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>세부사항 설명</label>
                        <p id="explain">이것은 파일입니다.</p>
                      </div>
                    </div>
                  </div>
                  
                  <form class="forms-sample">
                    <button id="acceptBtn" class="btn btn-gradient-primary mr-2">승인</button>
                    <button id="rejectBtn" class="btn btn-Link">거절</button>
                  </form>
                </div>
              </div>
            </div>


      </div>
    </div>

    <% include ./partials/_footer.ejs %>
  </div>

  <script src="/public/vendors/js/vendor.bundle.base.js"></script>
  <script src="/public/vendors/js/vendor.bundle.addons.js"></script>
  <script src="/public/js/off-canvas.js"></script>
  <script src="/public/js/misc.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="/sweetalert2/dist/sweetalert2.min.js"></script>
  <script src="/public/js/accept_spec.js"></script>
</body>

</html>
