<!DOCTYPE html>
<html lang="en">

<head>
  <title>SPAS-관리자</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.png" />
  <link rel="stylesheet" href="/public/css/main.css">
  <script src="/public/vendors/js/vendor.bundle.base.js"></script>
  <script src="/public/vendors/js/vendor.bundle.addons.js"></script>
</head>

<body>
  <div class="background-img"></div>

  <div class="container-scroller">
    <% include ./partials/_navbar.ejs %>
    <div class="container-fluid page-body-wrapper">
      <div class="content-wrapper">
        <% include ./partials/_admin-menu.ejs %>

        <h1 class="grid-margin text-center text-white">학생 목록</h1>

        <div class="input-group">
          <input id = "myInput" type="text" class="form-control" placeholder="학생 이름 조회" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append" id="myDIV">
            <button class="btn btn-sm btn-gradient-primary" type="button">Search</button>
          </div>
        </div>

        <br><br>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="card-body">
                <h4 class="card-title">학생 상세조회</h4>
                <p class="card-description">
                  학생에 대한 정보를 조회합니다.
                </p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10%;">
                        User
                      </th>
                      <th>
                        이름
                      </th>
                      <th>
                        학번
                      </th>
                      <th>
                        SW역량등급
                      </th>
                      <th style="width: 20%;">
                        상세보기
                      </th>
                      <th style="width: 20%;">
                        관리자 메모
                      </th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                  <% for(var i=0; i<students.length; i++) { %>
                    <tr data-id="<%= students[i].studentID %>">
                      <td class="py-1"><img src="/public/images/faces-clipart/pic-1.png" alt="image"></td>
                      <td><%= students[i].name %></td>
                      <td><%= students[i].studentID %></td>
                      <td>
                        <% if(students[i].final_grade=="Silver"){ %>
                          <label class="badge badge-secondary"><%= students[i].final_grade%></label>
                        <% } %>
                        <% if(students[i].final_grade=="Gold"){ %>
                          <label class="badge badge-warning"><%= students[i].final_grade%></label>
                        <% } %>
                        <% if(students[i].final_grade=="Platinum"){ %>
                          <label class="badge badge-success"><%= students[i].final_grade%></label>
                        <% } %>
                        <% if(students[i].final_grade=="Bronze"){ %>
                          <label class="badge badge-danger"><%= students[i].final_grade%></label>
                        <% } %>
                        <% if(students[i].final_grade=="Dia"){ %>
                          <label class="badge badge-Info"><%= students[i].final_grade%></label>
                        <% } %>
                        <% if(students[i].final_grade=="Challenger"){ %>
                          <label class="badge badge-primary"><%= students[i].final_grade%></label>
                        <% } %>
                      </td>
                      <td>
                        <button class="btn btn-success lookup" data-toggle="modal" data-target="#studetnDetail">
                        <i class="mdi mdi-account-card-details"></i>
                          상세보기
                        </button>
                      </td>
                      <td>
                        <button class="btn btn-info btn-md record">
                          <i class="mdi mdi-message-processing"></i>
                          메모
                        </button>
                      </td>
                    </tr>
                  <% } %>
                  </tbody>
                </table>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="studetnDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">| 학생 정보 상세보기</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">

          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ./partials/_footer.ejs %>

  <script src="/public/vendors/js/vendor.bundle.base.js"></script>
  <script src="/public/vendors/js/vendor.bundle.addons.js"></script>
  <script src="/public/js/off-canvas.js"></script>
  <script src="/public/js/misc.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="/sweetalert2/dist/sweetalert2.min.js"></script>
  <script src="/public/js/rader.js"></script>
  <script src="/public/js/admin_main.js"></script>
</body>

</html>
