<!DOCTYPE html>
<html lang="en">

<head>
  <title>SPAS-같은등급의 졸업생</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.png" />
  <link rel="stylesheet" href="/public/css/main.css">
  <script src="/public/vendors/js/vendor.bundle.base.js"></script>
  <script src="/public/vendors/js/vendor.bundle.addons.js"></script>
</head>

<body>
  <div class="background-img"></div>

  <div class="container-scroller">
    <% include ./partials/_navbar.ejs %>
    <div class="container-fluid page-body-wrapper">
      <div class="content-wrapper">
        <h1 class="grid-margin text-white">
          <%= user.name %>님의 sw역량 등급은 <span class="rank bg-<%- gradeToBgColor(finalScore.final_grade) %>"><%= finalScore.final_grade %></span>입니다.
        </h1>

        <div class="card">
          <div class="card-body">
            <h2 class="card-title"> 
              <span class="badge badge-<%- gradeToBgColor(finalScore.final_grade) %>"><%= finalScore.final_grade %></span>
              등급의 졸업생 데이터
            </h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>졸업생 학번</th>
                  <th>역량 수치</th>
                  <th>주요 스펙</th>
                  <th>취업한 회사</th>
                </tr>
              </thead>
              <tbody>
              <% for(var i=0; i<graduate.length; i++ ) { %>
                <tr>
                  <td><%=graduate[i].studentID %> 졸업생</td>
                  <td>
                    <% for(var j=0; j<graduate[i].state.length; j++) { %>
                      <%= graduate[i].state[j].name %> <%= graduate[i].state[j].score %><% if(j < graduate[i].state.length - 1) { %>,<% } %>
                    <% } %>
                  </td>
                  <td class="text-left"><%= graduate[i]["graduate_spec"]%></td>
                  <td class="text-left"><%=graduate[i].corporation %></td>
                </tr>
              <% } %>
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
  </div>
  
  <% include ./partials/_footer.ejs %>
</body>

</html>