<!DOCTYPE html>
<html lang="en">

<head>
  <title>Purple Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.png" />
  <style>
    .progress-wrapper {
      margin-bottom: 10px;
    }
    .progress {
      height: 25px;
    }
    .profile {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }
    .profile .faceimg {
      border-radius: 100%;
      width: 50%;
      margin-bottom: 10px;
    }
    .sub-menu {
      margin-bottom: 10px;
    }
    .sub-menu button {
      margin-right: 10px;
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    <% include ./partials/_navbar.ejs %>
    <div class="container-fluid page-body-wrapper">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 sub-menu">
          <% for(var i=0; i < cate.length; i++) { %>
            <button class="btn btn-inverse-primary btn-fw"><%= cate[i].name %></button>
          <% } %>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="profile text-center">
                    <img src="/public/images/faces/face1.jpg" class="faceimg" alt="image">
                    <h1><%= user.name %></h1>
                  </div>

                  
                  <% for(var i=0; i < cateEval.length; i++) { %>
                  <div class="progress-wrapper">
                    <h4 class="card-title"><%= cateEval[i].name %></h4>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= (cateEval[i].score/4.5) * 100 %>%" aria-valuenow="<%=cateEval[i].score %>" aria-valuemin="0" aria-valuemax="4.5"></div>
                    </div>
                  </div>
                  <% } %>
                </div>

                <div class="card-footer bg-gradient-danger card-img-holder text-white">
                  <div class="row">
                    <div class="col-md-8">
                      <h1><%= finalScore.grade %></h1>
                      <h5 class="card-text"><%= finalScore.score %> sw</h5>
                    </div>
                    <div class="col-md-3">
                        <img src="/public/images/faces/face1.jpg" class="asd" alt="image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <canvas id="raderChart" style="height:230px"></canvas>
                    <a class="btn btn-success float-right">스펙추가+</a>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/public/vendors/js/vendor.bundle.base.js"></script>
  <script src="/public/vendors/js/vendor.bundle.addons.js"></script>
  <script src="/public/js/off-canvas.js"></script>
  <script src="/public/js/misc.js"></script>

  <script>
    var ctx = document.getElementById('raderChart').getContext('2d');
    var options = {
      scale: {
        pointLabels: {
          fontSize: 20,
          fontStyle: '300',
          fontColor: 'rgba(0, 0, 0, 1)',
          fontFamily: "맑은 고딕, sans-serif"
        },
        ticks: { 
          beginAtZero: true,
          maxTicksLimit: 2,
          min: 0,
          max: 10
        }
      }
    };

    var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['코딩 개발', '수학', '팀플', '총학점', '스펙'],
            datasets: [
            {
                label: '점수',
                data: [8, 6, 4, 6, 4],
                backgroundColor: 'rgba(255, 99, 132, 1)',
                borderColor: 'rgba(255, 99, 0, 1)',
                fill: 1
            }],
        },
        options : options
    });
  </script>
</body>

</html>
