<!DOCTYPE html>
<html lang="en">

<head>
  <title>Purple Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.png" />
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <div class="container-scroller">
    <% include ./partials/_navbar.ejs %>
    <div class="container-fluid page-body-wrapper">
        <div class="content-wrapper">
          <% include ./partials/_admin-menu.ejs %>
          <div class="input-group">
            <input id="myInput" type="text" class="form-control" placeholder="학생 이름 조회" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-gradient-primary" type="button">Search</button>
            </div>
          </div>
          <br> <br>
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="card">
                <div class="card-body">
                    <div class="template-demo">
                        <a href="javascript:f_track1();"  class="btn btn-inverse-primary btn-fw">가상현실</a>
                        <a href="#" class="btn btn-inverse-primary btn-fw">사물인터넷</a>
                        <a href="#" class="btn btn-inverse-primary btn-fw">사이버국방</a>
                        <a href="#" class="btn btn-inverse-primary btn-fw">시스템운용</a>
                        <a href="#" class="btn btn-inverse-primary btn-fw">DataScience</a>
                        <a href="#" class="btn btn-inverse-primary btn-fw">멀티미디어</a>
                        <a href="#" class="btn btn-inverse-primary btn-fw">인공지능</a>
                        <a href="#" class="btn btn-inverse-primary btn-fw">정보보호</a>
                        <a href="#" class="btn btn-inverse-primary btn-fw">HCI비쥬얼</a>
                        <a href="#" class="btn btn-inverse-primary btn-fw">SW교육</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="card-body">
                  <h4 class="card-title">트랙별 조회</h4>
                  <p class="card-description">
                    트랙별로 조회합니다.
                  </p>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          User
                        </th>
                        <th>
                          이름
                        </th>
                        <th>
                          학번
                        </th>
                        <th>
                          가상현실_과목1
                        </th>
                        <th>
                          가상현실_과목2
                        </th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                    <% for(var i=0; i<students.length; i++) { %>
                      <tr>
                        <td class="py-1"><img src="/public/images/faces-clipart/pic-1.png" alt="image"></td>
                        <td><%= students[i].name %></td>
                        <td><%= students[i].studentID %></td>
                        <td><%= students[i].studentID %></td>
                        <td><%= students[i].studentID %></td>
                        <td><%= students[i].studentID %></td>
                        <td><%= students[i].studentID %></td>
                      </tr>
                    <% } %>
                    </tbody>
                  </table>
                </div>
                </div>
              </div>
            </div>


                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                      <h4 class="card-title">전체 학생 가상현실 평점</h4>
                      <canvas id="myChart"></canvas>
                      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                      <script>
                      var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['가상현실 총 평점', '해당 학생 평점'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [3.33, 4.11]
            }]
        },

        // Configuration options go here
        options: {}
    });</script>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                          <h4 class="card-title"><%=user.name%> 가상현실 트랙(과목 성적)</h4>
                          <table class="table">
                            <thead>
                              <tr>
                                <th>과목명</th>
                                <th>성적</th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>가상현실_과목1</td>

                                <td><label class="badge badge-danger">A+</label></td>
                              </tr>
                              <tr>
                                <td>가상현실_과목2</td>

                                <td><label class="badge badge-warning">A0</label></td>
                              </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <% include ./partials/_footer.ejs %>
  </div>
  <script src="/public/vendors/js/vendor.bundle.base.js"></script>
  <script src="/public/vendors/js/vendor.bundle.addons.js"></script>
  <script src="/public/js/off-canvas.js"></script>
  <script src="/public/js/misc.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
</body>

</html>
