<!DOCTYPE html>
<html lang="en">

<head>
  <title>Purple Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.png" />
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <div class="container-scroller">
    <% include ./partials/_navbar.ejs %>
    <div class="container-fluid page-body-wrapper">
        <div class="content-wrapper">
          <% include ./partials/_admin-menu.ejs %>
          <div class="input-group">
            <input id="myInput" type="text" class="form-control" placeholder="학생 이름 조회" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-gradient-primary" type="button">Search</button>
            </div>
          </div>
          <br> <br>

          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="card">
                <div class="card-body text-center">
                  <div class="sub-menu">
                  <% for(var i=0; i < track.length; i++) { %>
                    <a class="btn btn-outline-info btn-fw" href="/admin/track/<%= track[i].id%>"><%= track[i].name %></a>
                  <% } %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="card-body">
                  <h4 class="card-title">트랙별 조회</h4>
                  <p class="card-description">
                    트랙별로 조회합니다.
                  </p>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          User
                        </th>
                        <th>
                          이름
                        </th>
                        <th>
                          학번
                        </th>
                        <th>
                          트랙 점수 평균
                        </th>
                        <th>
                          상세보기
                        </th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                    <% for(var i=0; i<students.length; i++) { %>
                      <tr data-id="<%- students[i].studentID %>">
                        <td class="py-1"><img src="/public/images/faces-clipart/pic-1.png" alt="image"></td>
                        <td><%= students[i].name %></td>
                        <td><%= students[i].studentID %></td>
                        <td><%= students[i].track_score %></td>
                        <td><button class="btn btn-Link lookup" data-toggle="modal" data-target="#studetnDetail">상세보기</button></td>
                      </tr>
                    <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>    
  </div>

  <% include ./partials/_footer.ejs %>

  <div class="modal fade" id="studetnDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="row">
          <div class="col-12 grid-margin stretch-card" id="track1">
            <div class="card">
              <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-md-6">
                      <canvas id="barChart" style="height:600px"></canvas>
                    </div>
                    <div class="col-md-4">
                      <table class="table table-bordered table-score mb-4">
                        <thead>
                          <tr>
                            <th>과목명</th>
                            <th class="text-center">성적</th>
                          </tr>
                        </thead>
                        <tbody id="myTable">
                        </tbody>
                      </table>

                      <div class="card bg-dark">
                        <div class="card-body text-white trackScoreCard">
                          <h4 id="trackScoreTitle">트랙 이수까지</h4>
                          <h1 id="trackScore" class="text-right">0/18</h1>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/public/vendors/js/vendor.bundle.base.js"></script>
  <script src="/public/vendors/js/vendor.bundle.addons.js"></script>
  <script src="/public/js/off-canvas.js"></script>
  <script src="/public/js/misc.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="/public/js/track_detail.js"></script>
  <script src="/public/js/track.js"></script>

  <script>
  
  </script>
</body>

</html>
